p{
    color:blue;
}

p.verso{
    color:blue;
}

p.mote{
    color:red;
}


    a:link{
        text-decoration: none;
        color:pink;
    }
    a:visited{
        text-decoration: underline overline;
        color:red;
    }
    a:hover{
        text-decoration: underline;
        color: black;
    }
    a:active{
        text-decoration: none;
        color: black;
    }

    img{
        border-radius: 50%;
    }
