p{
    color:blue;
}
p.verso{
    color:blue;
}
p.mote{
    color:red;
}

a:link{
    text-decoration: none;
    color:blue;
}
a:visited{
    text-decoration: underline overline;
    color:darkblue;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a:active{
    text-decoration: none;
    color: green;
}
img.poeta{
        border-radius: 50%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: purple;
}
th, td {
    padding: 5px;
    text-align: left;
}